@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Sora:wght@600&display=swap');

body {
  /* color: #323232; */
  /* background-color: #f9f6f6; */
  background-color: #191919;
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em; 
}
b,
strong,
h3,
h4,
h5,
h6 {
  /* font-family: 'Lora', serif !important; */
  /* color: #323232; */
  font-variation-settings: 'wght' 650;
}

h1 {
  color: #009688 !important;
  font-family: 'Sora', sans-serif;
  text-transform: uppercase;
  font-variation-settings: 'wght' 850;
}

h2 {
  /* font-family: 'Lora', serif !important; */
  /* color: #323232; */
  color: #009688 !important;
  font-variation-settings: 'wght' 750;
}

h4 {
  color: white !important;
}

p, li, span {
  color: #dbdde0 !important;
}

a {
  color: #009688 !important;
  text-decoration: underline !important;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

article.container {
  max-width: 70%;
}

.video-row {
  display: grid; 
  grid-template-columns: 1fr 60%; 
  grid-template-rows: max-content; 
  gap: 0px 0px; 
  grid-template-areas: 
    "top-left top"; 
}
.video-row-top { grid-area: top; }
.video-row-top-left { grid-area: top-left; }